@mixin flex($justify, $align, $direction: row, $wrap: wrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
  }
  
  
  @mixin responsive($velicina) {
    @if $velicina == tablet {
      @media screen and (max-width: 1030px) {
        @content;
      }
    }
    @if $velicina == mobilni {
      @media screen and (max-width: 768px) {
        @content;
      }
    }
        @if $velicina == miniMobilni {
          @media screen and (max-width: 500px) {
            @content;
          }
    }
  }