$black-color: #000;
$white-color: white;
$yellow-color: rgb(229, 233, 15);
$darkyellow-colorwithopacity: rgb(243, 203, 49, 0.8);
$darkyellow-color: rgba(243,203,49);
$litegray-color: rgb(228, 228, 228);
$litegreen-color: rgba(50,183,118);
$darkblue-color:  rgba(59,80,98);
$litegreen-colorwithopacity: rgba(52, 153, 108, 0.75);

$fontFamily: "Raleway", sans-serif;

$transition: 0.5s;